<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <adwise_analytics>
            <general>
                <brand_attribute>
                    <![CDATA[manufacturer]]>
                </brand_attribute>
                <cid_cookie>
                    <![CDATA[_ga]]>
                </cid_cookie>
            </general>
            <mp>
                <endpoint>
                    <![CDATA[https://www.google-analytics.com/mp/collect]]>
                </endpoint>
            </mp>
            <ua>
                <collect_url>
                    <![CDATA[https://www.google-analytics.com/collect]]>
                </collect_url>
                <general>
                    <event_category>
                        <![CDATA[Ecommerce]]>
                    </event_category>
                </general>
                <purchase>
                    <event_action>
                        <![CDATA[Purchase]]>
                    </event_action>
                </purchase>
                <refund>
                    <event_action>
                        <![CDATA[Refund]]>
                    </event_action>
                </refund>
            </ua>
            <hit>
                <collect_url>
                    <![CDATA[https://www.google-analytics.com/collect]]>
                </collect_url>
            </hit>
        </adwise_analytics>
    </default>
</config>
