<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="adwise" translate="label" sortOrder="999">
            <label>Adwise</label>
        </tab>
        <section id="adwise_analytics" translate="label" type="text" sortOrder="10" showInDefault="1" showInStore="1" showInWebsite="1">
            <label>Analytics</label>
            <tab>adwise</tab>
            <resource>Adwise_Analytics::config</resource>

            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General</label>

                <field id="is_enabled" translate="label comment" sortOrder="10" type="select" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Enable Measurement Protocol</label>
                    <comment><![CDATA[Select <strong>Yes</strong> to enable the module.]]></comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>

                <field id="tracking_id" translate="label comment" sortOrder="10" type="text" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Tracking ID</label>
                    <comment><![CDATA[UA-xxxxxxxx-x]]></comment>
                </field>

                <field id="brand_attribute" translate="label" sortOrder="10" type="text" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Brand attribute</label>
                </field>

                <field id="default_brand" translate="label" sortOrder="10" type="text" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Default brand</label>
                </field>

                <field id="ignored_categories" translate="label" sortOrder="10" type="text" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Ignored categories</label>
                    <comment><![CDATA[Comma separated list of category ID's that should be ignored in payload]]></comment>
                </field>
            </group>
            <group id="hit" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Hit configuration</label>

                <field id="ga_collect_url" translate="label comment" sortOrder="10" type="text" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Google Analytics Collect URL</label>
                    <comment><![CDATA[Default: www.google-analytics.com/collect]]></comment>
                </field>

                <field id="type" translate="label comment" sortOrder="10" type="select" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Event type</label>
                    <source_model>Adwise\Analytics\Model\Config\EventTypes</source_model>
                </field>

                <field id="event_category" translate="label" sortOrder="10" type="text" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Event category</label>
                    <depends>
                        <field id="type">event</field>
                    </depends>
                </field>

                <field id="event_action" translate="label" sortOrder="10" type="text" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Event action</label>
                    <depends>
                        <field id="type">event</field>
                    </depends>
                </field>

                <field id="event_label" translate="label" sortOrder="10" type="text" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Event label</label>
                    <depends>
                        <field id="type">event</field>
                    </depends>
                </field>

                <field id="event_value" translate="label" sortOrder="10" type="text" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Event value</label>
                    <depends>
                        <field id="type">event</field>
                    </depends>
                </field>

                <field id="pageview_hostname" translate="label " sortOrder="10" type="text" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Pageview hostname</label>
                    <depends>
                        <field id="type">pageview</field>
                    </depends>
                </field>

                <field id="pageview_path" translate="label comment" sortOrder="10" type="text" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Pageview path</label>
                    <depends>
                        <field id="type">pageview</field>
                    </depends>
                </field>

                <field id="pageview_title" translate="label comment" sortOrder="10" type="text" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Pageview title</label>
                    <depends>
                        <field id="type">pageview</field>
                    </depends>
                </field>

                <field id="transaction_affiliation" translate="label" sortOrder="10" type="text" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Transaction affiliation</label>
                </field>

                <field id="user_agent" translate="label" sortOrder="10" type="text" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>User agent</label>
                </field>

                <field id="cd_known" translate="label" sortOrder="10" type="text" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Custom Dimension Known/Unknown</label>
                </field>
                <field id="cd_timestamp" translate="label" sortOrder="10" type="text" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Custom Dimension for Timestamp</label>
                </field>
            </group>
            <group id="hit_order" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Hit configuration - Order</label>

                <field id="is_enabled" translate="label comment" sortOrder="10" type="select" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Enable hits for created orders</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
            <group id="hit_credit_memo" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Hit configuration - Credit Memo</label>

                <field id="is_enabled" translate="label comment" sortOrder="10" type="select" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Enable hits for created credit memo's</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>

                <field id="event_action" translate="label" sortOrder="10" type="text" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Event action for creditmemo, default Refund</label>
                </field>
                <field id="product_action" translate="label" sortOrder="10" type="text" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Event action for creditmemo, default refund</label>
                </field>
            </group>
            <group id="debug" translate="label" type="text" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Debug</label>
                <field id="payload_logging" translate="label comment" sortOrder="10" type="select" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Enable debug logging for payloads to GA</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
