<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="adwise" translate="label" sortOrder="999">
            <label>Adwise</label>
        </tab>
        <section id="adwise_analytics" translate="label" type="text" sortOrder="10" showInDefault="1" showInStore="1" showInWebsite="1">
            <label>Analytics</label>
            <tab>adwise</tab>
            <resource>Adwise_Analytics::config</resource>
            <group id="incompatible_modules" sortOrder="0" showInDefault="1" showInStore="1" showInWebsite="1">
                <frontend_model>Adwise\Analytics\Block\Adminhtml\Config\Debug\IncompatiblePluginList</frontend_model>
            </group>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General</label>

                <field id="is_enabled" translate="label comment" sortOrder="10" type="select" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Enable Module</label>
                    <comment><![CDATA[Select <strong>Yes</strong> to enable the module.]]></comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="brand_attribute" translate="label" sortOrder="10" type="text" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Brand attribute</label>
                </field>
                <field id="default_brand" translate="label" sortOrder="10" type="text" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Default brand</label>
                </field>
                <field id="ignored_categories" translate="label" sortOrder="10" type="text" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Ignored categories</label>
                    <comment><![CDATA[Comma separated list of category ID's that should be ignored in payload]]></comment>
                </field>
                <field id="cid_cookie" translate="label" sortOrder="80" type="text" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>CID cookie</label>
                    <comment><![CDATA[Cookie name for the CID, default _ga]]></comment>
                </field>
            </group>
            <group id="mp" translate="label" type="text" sortOrder="20" showInDefault="1" showInStore="1" showInWebsite="1">
                <label>Measurement Protocol</label>
                <field id="is_enabled" translate="label comment" sortOrder="10" type="select" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Enable Measurement Protocol</label>
                    <comment><![CDATA[Select <strong>Yes</strong> to enable GA4 instead of UA]]></comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="measurement_id" translate="label comment" sortOrder="10" type="text" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Measurement ID</label>
                    <comment><![CDATA[G-xxxxxxxxxx]]></comment>
                </field>
                <field id="api_secret" translate="label comment" sortOrder="20" type="text" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>API secret</label>
                    <comment><![CDATA[xxxxxxxxxx]]></comment>
                </field>
                <field id="endpoint" translate="label comment" sortOrder="30" type="text" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>GA4 Endpoint</label>
                    <comment>Default: https://www.google-analytics.com/mp/collect</comment>
                </field>
                <group id="purchase" translate="label" type="text" sortOrder="100" showInWebsite="1" showInStore="1" showInDefault="1">
                    <label>Purchase event</label>
                    <field id="is_enabled" translate="label comment" sortOrder="10" type="select" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                        <label>Enable Purchase Event</label>
                        <comment><![CDATA[Select <strong>Yes</strong> to enable the purchase event]]></comment>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    </field>
                </group>
                <group id="refund" translate="label" type="text" sortOrder="100" showInWebsite="1" showInStore="1" showInDefault="1">
                    <label>Refund event</label>
                    <field id="is_enabled" translate="label comment" sortOrder="10" type="select" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                        <label>Enable Refund Event</label>
                        <comment><![CDATA[Select <strong>Yes</strong> to enable the refund event]]></comment>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    </field>
                </group>
            </group>
            <group id="debug" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Debug</label>
                <field id="payload_logging" translate="label comment" sortOrder="10" type="select" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Enable debug logging for payloads to GA4</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
